[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyhive = "*"
setuptools = "*"
superset = "*"
pandas = "==0.23.4"
sqlalchemy = "==1.2.18"

[dev-packages]
pytest = "*"
